@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');
*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	background: hsl(257, 40%, 49%) url('./images/bg-mobile.svg') no-repeat;
}

h1 {
	font-family: 'Poppins', sans-serif;
}

header,
main,
footer {
	max-width: 90%;
	margin: 0 auto;
}

header {
	margin-top: 1em;
}

header img {
	max-width: 200px;
	width: 50%;
}

main {
	margin-top: 3.5em;
	display: flex;
	flex-direction: column;
	max-width: 370px;
	justify-content: center;
	align-content: center;
}

.main-img {
	width: 85%;
	margin: 0 auto;
}

.main-img img {
	width: 100%;
}

.main-content {
	margin: 2em auto 0;
	max-width: 85%;
	text-align: center;
}

.main-content h1 {
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 0.5em;
}

.main-content p {
	font-size: 1.03rem;
	line-height: 1.5;
}

.main-content button {
	margin-top: 1.5em;
	border: none;
	background: #fff;
	color: hsl(257, 40%, 49%);
	padding: 20px 80px;
	border-radius: 30px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

button:focus,
button:hover {
	color: #fff;
	background-color: hsla(264, 69%, 63%, 0.5);
}

.social-icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 2em auto;
}

.social-icons ul {
	margin: 0;
	padding: 0;
}

.social-icons li {
	list-style: none;
	display: inline-block;
}

.social-icons a {
	color: #fff;
	text-decoration: none;
	display: flex;
	justify-content: space-around;
	align-content: center;
	width: 40px;
	height: 40px;
	border: 1.5px solid #fff;
	border-radius: 50%;
}

.social-icons i {
	align-self: center;
}

.social-icons li:nth-child(2) {
	margin: 0 0.5em;
}

/* Desktop style width:1440px */
@media (min-width: 1024px) {
	body {
		background-image: url('./images/bg-desktop.svg');
	}

	header {
		margin-top: 3em;
	}

	header img {
		width: 202px;
	}

	main {
		margin-top: 2em;
		flex-direction: row;
		width: 90%;
		max-width: 1400px;
	}

	.main-img {
		width: 80%;
	}

	.main-content {
		margin-top: 5em;
		text-align: left;
		width: 50%;
		padding-left: 2em;
	}

	.main-content h1 {
		font-weight: 700;
		font-size: 2rem;
	}

	.main-content p {
		line-height: 1.8;
	}

	.social-icons {
		justify-content: flex-end;
		margin-top: 0;
	}

	.social-icons a {
		width: 60px;
		height: 60px;
	}

	.social-icons i {
		font-size: 2rem;
	}
}
