@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* custom properties/variables */
:root {
	/* colors */
	--limeGreen: hsl(163, 72%, 41%);
	--brightRed: hsl(356, 69%, 56%);
	--facebook: hsl(195, 100%, 50%);
	--twitter: hsl(203, 89%, 53%);
	--instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
	--youTube: hsl(348, 97%, 39%); /* Dark Theme Colors */
	--dark: linear-gradient (to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
	--darkBG: hsl(230, 17%, 14%);
	--darkTopBG: hsl(232, 19%, 15%);
	--darkCardBG: hsl(228, 28%, 20%);
	--darkCardTitle: hsl(228, 34%, 66%);
	--darkCardSubtitle: hsl(0, 0%, 100%); /* Light Theme Colors */
	--light: hsl(230, 22%, 74%);
	--lightBG: hsl(0, 0%, 100%);
	--lightTopBG: hsl(225, 100%, 98%);
	--lightCardBG: hsl(227, 47%, 96%);
	--lightCardTitle: hsl(228, 12%, 44%);
	--lightCardSubtitle: hsl(230, 17%, 14%);
}

body {
	font-family: 'Inter', sans-serif;
	width: 88%;
	/* 	border:1px solid red; */
	background-color: var(--darkBG);
	margin: 0 auto;
	font-weight: 400;
	color: #fff;
}

/* Typography */
h2 {
	font-size: 14px;
}

.dashboard {
	display: flex;
	flex-direction: column;
	margin-top: 2.3rem;
}

.dashboard__content {
	padding-bottom: 1.5em;
	border-bottom: 1px solid black;
}

.dashboard__title {
	font-size: 1.5rem;
}

.dashboard__followers {
	font-size: 1rem;
}

.theme__content {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	padding-top: 1.1em;
}

.toggle-icon {
	width: 50px;
	height: 25px;
	background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
	border-radius: 25px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.2em;
	cursor: pointer;
}

.toggle--circle {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 10px;
}

.theme__name {
	font-weight: bolder;
	font-size: 1rem;
}

section.card__list {
	margin-top: 2.5em;
}

section.card__list .card__item::before {
	content: '';
	position: absolute;
	top: -2px;
	border: 4px solid red;
}

section.card__list .card__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	background-color: var(--darkCardBG);
	margin-bottom: 30px;
	border-radius: 0 0 5px 5px;
}

section.card__list .card__header {
	display: flex;
	justify-content: center;
	color: var(--darkCardTitle);
	margin-bottom: 20px;
}

.card__social-icon {
	margin-right: 0.5em;
	width: 20px;
	height: 20px;
}

.card__body {
	text-align: center;
}
.card__title {
	font-size: 3.3rem;
	font-weight: bolder;
}

.card__subtitle {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: small;
	color: var(--darkCardTitle);
	margin-bottom: 2.2em;
}
.card__follower {
	font-size: 0.8rem;
}
