@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Global Variables */
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --veryDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #f00 !important; */
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

h1 {
  color: var(--veryDarkBlue);
}
p {
  color: var(--grayishBlue);
}

.attribution {
  margin: 0 auto;
  text-align: center;
  /* width: 75%; */
}

.container {
  width: 90%;
  min-width: 375px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255);
}

.main-section {
  padding: 5px;
  margin: 20px auto 30px;
  width: 65%;
}

p.info {
  font-size: 0.5rem;
  margin-top: 0.8em;
}

.head-title,
h1 {
  font-size: 0.75rem;
}
.card {
  border-radius: 4px;
  padding: 20px;
  margin: 10px auto 30px;
  width: 65%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card img {
  display: inline-block;
  width: 3em;
  position: relative;
  top: 1em;
  left: 9em;
}
.card-sup {
  border-top: 4px solid var(--cyan);
}

.card-team {
  border-top: 4px solid var(--red);
}
.card-calc {
  border-top: 4px solid var(--blue);
}
.card-karma {
  border-top: 4px solid var(--orange);
}
/* Mobil breakpoint 375*/

/* Desktop breakpoint 1440px */
@media (min-width: 900px) {
  .container {
    width: 90%;
    max-width: 900px;
  }
  .card-container {
    position: relative;
    padding: 20px;
    margin-bottom: 3em;
  }
  .main-section {
    text-align: center;
    /* max-width: 420px; */
    width: 45%;
  }
  .head-title,
  h1 {
    font-size: 1.5rem;
  }
  .main-section .info {
    font-size: 0.75rem;
  }
  .card {
    width: 15em;
    margin: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    padding: 2em;
  }
  .card-sup {
    position: relative;
    top: 5em;
    left: 6.3em;
  }
  .card-team {
    position: absolute;
    top: 1em;
    left: 24em;
  }

  .card-karma {
    position: absolute;
    top: 13em;
    left: 24em;
  }
  .card-calc {
    position: relative;
    top: -5.8em;
    left: 39em;
  }

  .card img {
    display: block;
    width: 3em;
    position: relative;
    top: 1em;
    left: 9em;
  }
}
